body{
    display: block;
}
.nav{
    background-color: #4a4e4f;
    max-width: 2000px;
}
.nav ul{
    display: flex;
    align-items: center;
    gap: 2px;
}
.nav ul li{
    padding: 20px 20px;
    transition: ease-in-out .4s;
    cursor: pointer;
}
.nav ul li:hover{
    background: green;
    box-shadow: inset 0px 2px 16px 0px #000;
}
.nav ul li a{
    color: white;
    font-weight: bold;
}
.logo{
    background: green;
    box-shadow: inset 0px 2px 16px 0px #000;
}
.nav ul li.active{
  box-shadow: inset 0px 2px 16px 0px #000;
}

/* form */
.formNewUser{
    margin: 20px 10px 70px;
    box-shadow: 0px 0px 3px 2px grey;
}
form {
    padding: 10px;
  }
  .inputsContainer {
    padding: 10px 0;
  }
  .inputsContainer .leftForm,
  .inputsContainer .rightForm {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .inputsContainer .rightForm .inputs,  .inputsContainer .leftForm .inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .inputs {
    margin: 10px 0;
    width: 30%;
  }
  .inputs label {
    font-size: 18px;
    font-weight: bold;
    margin: 0 auto;
  }
  .inputs input, #module {
    padding: 10px;
    border-radius: 5px;
    border: 2px solid grey;
    font-size: 14px;
    width: 90%;
    outline: none;
  }
  
  input[type="submit"] {
    width: 98%;
    padding: 10px;
    margin: 0 auto 0;
    border: none;
    border-radius: 8px;
    background-color: #4a4e4f;
    color: white;
    cursor: pointer;
    display: block;
    transition: ease-in-out .4s;
  }
  input[type="submit"]:hover {
    box-shadow: inset 0px 2px 16px 0px gray;
  }
